<div class="row">

  <div class="col s12 m2">
    <div class="content-container">
      <h2>My Coach Profile</h2>
      <div class="collection">
        <a [routerLink]="['coach/' + currentUser.userId]" class="collection-item black-text active teal lighten-3">Profile Information</a>
        <a class="collection-item grey-text text-darken-2" (click)="navigate()">Coaching sessions</a>
      </div>
    </div>
  </div>

  <div class="col s12 m10 l10">
    <div *ngIf="coach" class="content-container">

      <section class="card-panel grey lighten-5">
        <h3>Profile Information</h3>
        <div class="divider"></div>
        <div class="row">
          <div class="col l2 m2 s12">
            <img src="{{coach.user.pictureUrl}}" class="responsive-img circle"
                 alt="Profile Picture">
          </div>
          <div class="col l10 m12 s12">
            <table class="highlight">
              <tbody>
              <tr>
                <td><strong>First name</strong></td>
                <td>{{coach.user.firstName}}</td>
              </tr>
              <tr>
                <td><strong>Last name</strong></td>
                <td>{{coach.user.lastName}}</td>
              </tr>
              <tr>
                <td><strong>Email</strong></td>
                <td>{{coach.user.email}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <div class="divider"></div>
      <section class="card-panel grey lighten-5">
          <h3>Coach Information</h3>
        <div class="divider"></div>
        <div class="row">
          <div class="col l12 m12 s12">
            <table class="highlight">
              <tbody>
              <tr>
                <td><strong>Coach XP</strong></td>
                <td>
                  <div class="center">
                                            <span class="new badge teal lighten-3 teal-text text-darken-3"
                                                  data-badge-caption="(Silver)">{{coach.coachInformation.coachXp}}/500</span>
                  </div>
                  <div class="progress teal">
                    <div class="determinate" style="width: 60%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td><strong>Introduction</strong></td>
                <td>{{coach.coachInformation.introduction}}</td>
              </tr>
              <tr>
                <td><strong>Availability</strong></td>
                <td>{{coach.coachInformation.availability}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <div class="divider"></div>
            <section class="card-panel grey lighten-5">
              <h5>Coaching topics</h5>
              <div class="divider"></div>
              <div class="row">
                <div class="col s12">
                  <table class="highlight">
                    <tbody *ngFor="let coachTopic of coach.coachTopics">
                    <tr>
                      <td><strong>{{coachTopic.name}}</strong></td>
                      <td>
                        {{coachTopic.experience}}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
    </div>
  </div>
</div>
