
<h1>Contact Page</h1>
<div class="divider"></div>
<div class="row">
  <div class="col l3 m3 s3">
    <img src="../../assets/tim.jpg" class="responsive-img circle"
         alt="Profile Picture">
  </div>
  <div class="col l6 m6 s6">
    <table class="highlight">
      <tbody>
      <tr>
        <td><strong>Company name</strong></td>
        <td>Tim Rocket </td>
      </tr>

      <tr>
        <td><strong>Application name</strong></td>
        <td>Tim Rocket </td>
      </tr>
      <tr>
        <td><strong>Email</strong></td>
        <td>info@timrocket.com</td>
      </tr>

      <tr>
        <td><strong>Address</strong></td>
        <td> Happiness street 24A - 1000 Brussels </td>
      </tr>

      <tr>
        <td><strong>Telephone</strong></td>
        <td> 02/502.12.34 </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
