<main>

  <div class="row">

    <div class="col s12 m12">
      <div class="content-container">

        <section class="card-panel grey lighten-5">

          <header>
            <div class="row">
              <div class="col l3 m6 s12">
                <label>Filter by Topic</label>
                <br>
                <mat-form-field appearance="fill">
                  <mat-label>Choose topic</mat-label>
                  <mat-select #selectedCategory (select)="onChange2(selectedCategory.value)">
                    <mat-option *ngFor="let topic of topics" [value]="topic.name">{{topic.name}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="col l3 m6 s12">
                <label>Filter by Year</label>
                <br>
                <mat-form-field appearance="fill">
                  <mat-label>Choose year</mat-label>
                  <mat-select multiple>
                    <mat-option value="1">year 1</mat-option>
                    <mat-option value="2">year 2</mat-option>
                    <mat-option value="3">year 3</mat-option>
                    <mat-option value="1">year 4</mat-option>
                    <mat-option value="2">year 5</mat-option>
                    <mat-option value="3">year 6</mat-option>
                    <mat-option value="3">year 7</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="input-field col l6 m12 s12">
                <i class="material-icons prefix">search</i>
                <input id="icon_prefix" type="text" class="validate" #searchbox (input)="getInputValue(searchbox.value)">
                <label for="icon_prefix">First name, last name or email</label>
              </div>
            </div>
          </header>
          <!--Start -->
          <div class="row" >
            <ng-container *ngFor="let coach of coaches | search:searchTerm">
              <div class="col l3 m4 s12">
                <h5 class="header">{{coach.user.firstName}} {{coach.user.lastName}}</h5>
                <div class="card horizontal">
                  <div class="card-image">
                    <img src="{{coach.user.pictureUrl}}">

                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <table class="highlight responsive-table">
                        <tbody>
                        <tr>
                          <td><strong>Mathematics</strong></td>
                          <td>1,2,3</td>
                        </tr>
                        <tr>
                          <td><strong>Biology</strong></td>
                          <td>1,2</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <a class="btn-floating halfway-fab waves-effect waves-light yellow darken-2 btn-large"><i
                      class="material-icons">send</i></a>
                  </div>
                </div>
              </div>
            </ng-container>
            <!--stop-->
          </div>

        </section>

      </div>
    </div>
  </div>

</main>
