<div class="row">

  <div class="col s12 m2 l2">
    <div class="content-container">
      <h2>My Profile</h2>
      <div class="collection">
        <a class="collection-item black-text active yellow darken-2" [routerLink]="['profile']">Profile Information</a>
        <a class="collection-item grey-text text-darken-2" [routerLink]="['../my-sessions']">Coaching sessions</a>
        <a *ngIf="isACoachee()" class="collection-item grey-text text-darken-2" [routerLink]="['../apply']">Apply to
          become a coach</a>
      </div>
    </div>
  </div>

  <div class="col s12 m10 l10">
    <div class="content-container">

      <section class="card-panel grey lighten-5">
        <div class="right">
          <a class="waves-effect waves-light btn-large btn-floating yellow darken-2" [routerLink]="['../edit-profile']"><i
            class="material-icons left">edit</i>Edit</a>
        </div>
        <h5>Profile Information</h5>
        <div class="divider"></div>
        <div class="row">
          <div class="col l2 m2 s12">
            <img src="{{ userToDisplay?.pictureUrl }}" class="responsive-img circle"
                 alt="Profile Picture">
          </div>
          <div class="col l10 m12 s12">
            <table class="highlight">
              <tbody>
              <tr>
                <td><strong>First name</strong></td>
                <td> {{ userToDisplay?.firstName }} </td>
              </tr>
              <tr>
                <td><strong>Last name</strong></td>
                <td> {{ userToDisplay?.lastName }} </td>
              </tr>
              <tr>
                <td><strong>Email</strong></td>
                <td> {{ userToDisplay?.email }} </td>
              </tr>

              <tr>
                <td><strong>CodeCoach role</strong></td>
                <td> {{ userToDisplay?.role }} </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>
