<div [ngClass]="currentUser?.role==='COACH'? 'nav-content teal lighten-3': 'nav-content yellow darken-2'" >
  <div class="container">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a class="black-text"  [routerLink]="['profile']">My Profile</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#test2">Find a coach</a></li>
      <li *ngIf="currentUser?.role === 'COACH'" (click)="changeCSS()" class="tab"><a class="black-text" [routerLink]="['coach/' + currentUser?.userId]">My Coach Profile</a></li>
    </ul>
  </div>
</div>



